/*général*/

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Source+Code+Pro:wght@200&display=swap');
* {
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: -2.8px;
    font-size: 25px;
    background-color: rgb(249, 248, 244);
}

h1 {
    font-size: 60px;
    font-family: 'Source Code Pro', monospace;
}

body {
    font-family: 'Share Tech Mono', monospace;
    padding: 0 2%;
    margin: 0;
}


/* barre de navigation*/

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(249, 248, 244);
}

nav .profil {
    display: flex;
    align-items: center;
}

nav .profil img {
    width: 200px;
    height: 200px;
}

nav .profil h1 {
    margin-left: 10px;
    font-size: 45px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(249, 248, 244);
}

nav ul li:hover {
    border-bottom-color: rgba(161, 148, 96, 0.616);
}


/* header : entête */

.page-content {
    margin: 4%;
}

.page-content header {
    margin-top: 5%;
    max-width: 80%;
}

.page-content header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
    font-size: 6vw;
}

.page-content header p {
    line-height: 30px;
    color: #4e5c73;
}

.page-content header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding-left: 0;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid #4b4c4e57;
    cursor: pointer;
}

.page-content header button:hover {
    color: #4b4c4e57;
    border-bottom: 3px solid #4e5c73;
}


/* présentation image */

.page-content .presentation-img {
    margin-top: 5%;
}

.page-content .presentation-img img {
    max-width: 70%;
    size: auto;
}


/* media queries */

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    .page-content header {
        margin-top: 10%;
        maxwidth: 100%;
    }
}